body {}

.b-none {border: none;}

.bt-none {border-top: none;}
.br-none {border-right: none;}
.bb-none {border-bottom: none;}
.bl-none {border-left: none;}

input[type=text]:focus {
    outline: none;
}

.hover-bg-black:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s ease-in;
}

.hover-bg-white:hover {
    background-color: white;
    transition: background-color 0.2s ease-in;
}

.hover--white:hover {
    color: white;
    transition: background-color 0.2s ease-in;
}

.hover--white:focus {
    color: white;
    transition: background-color 0.2s ease-in;
}

.hover--black:hover {
    color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s ease-in;
}

.hover-bg-black:disabled:hover {
    color: rgba(0, 0, 0, 0.2) !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    transition: color 0.2s ease-in, border-color 0.2s ease-in;
}

.hover--white:disabled:hover {
    background-color: white !important;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-users {
  width: 1.125em;
}
